/*FOLHA DE ESTILO DO SITE CS-COUNTER STRIKE
@author BIH RAMOS 

*/


/*IMPORTAÇÃO DE FONTES*/

@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');


body{
   
  font-family: "Nunito", sans-serif;
  font-size: 1em;
}
/*CSS RESET - (zerar margem ,borda preechimento         de todos os elementos*/
*{
    margin: 0;
    border: 0;
    padding: 0;
}
/*LAYOUT*/
.Conteiner{
    margin:0 auto;
    background-color: rgb(196, 173, 173);
}
/*TOPO DO SITE*/
#topo{
    position: fixed;
    right: 10px;
    bottom: 10px;
}


/*SMARTPHONE PORTRAIT>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/


/*SMARTPHONE LANDSCAPE>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/
@media (min-width:576px){
    body{
        background-color: rgb(78, 247, 12);
    }
/*LAYOUT*/
    .Conteiner{
       max-width: 540px;
}
}

/*TABLET PORTRAIT>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/
@media (min-width:768px){
    body{
        background-color: rgb(107, 207, 223);
    }
/*LAYOUT*/
    .Conteiner{
        max-width: 720px;
 }
}

/*TABLET LANDSCAPE>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/
@media (min-width:992px){
    body{
        background-color: rgb(248, 6, 252);
    }
/*LAYOUT*/
    .Conteiner{
        max-width: 960px;
 }
}

/*COMPUTADOR>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/
@media (min-width:1200px){
    body{
        background-color: rgb(252, 248, 6);
    }
/*LAYOUT*/
    .Conteiner{
        max-width:1140px;
 }
} 